// Colors
$primary: #325bff;
$bg: #171717;
$bg2: #262626;

$text-color: #fff;
$text-sub: #8e8e8e;

$border-color: #575757;
$overlay: rgba(0, 0, 0, 0.3);

// Font
$font-family: "Quicksand", sans-serif;
$letter-spacing: 1px;
$font-size: 14px;
$font-weight: 600;

// Utils
$box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);

// Sidebar
$sidebar-width: 80px;
