@use "variables" as v;

@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);

/* Resets */
* {
	font-family: v.$font-family;
	margin: 0;
	letter-spacing: v.$letter-spacing;
	color: v.$text-color;
	font-size: v.$font-size;
	font-weight: v.$font-weight;

	&:focus {
		outline: none;
	}

	&::-webkit-scrollbar {
		width: 5px;
		background-color: v.$bg2;
		border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: v.$border-color;
		border-radius: 5px;
		cursor: pointer;
	}
}

body {
	background-color: v.$bg;
	height: 100vh;
}

#root {
	height: 100%;
}

input,
select,
textarea {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	border: 1px solid v.$border-color;
	padding: 10px;
	border-radius: 5px;
	transition: border 0.3s ease-in-out;

	&:hover,
	&:focus {
		border-color: v.$primary;
	}
}

select {
	cursor: pointer;
}

option {
	background-color: v.$bg;
}

button {
	background-color: v.$primary;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid v.$primary;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: transparent;
	}

	&.transparent {
		background-color: transparent;
	}
}

a {
	text-decoration: none;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: v.$primary;
	}
}

/* Utility */
.title-bottom-space {
	margin-bottom: 5px;
}

.bg {
	background-color: v.$bg;
}

.bg-2 {
	background-color: v.$bg2;
}

.text-sub {
	color: v.$text-sub;
}

.text-xl {
	font-size: 1.3rem;
}

.text-6xl {
	font-size: 3rem;
}

.rounded {
	border-radius: 5px;
}

.cursor-pointer {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.center {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.center-x {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	position: relative;
	left: 50%;
	transform: translateY(-50%);
}

.grid {
	display: grid;
	gap: 20px;
}

.grid-4 {
	grid-template-columns: repeat(4, minmax(0, 100%));
}

/* Custom Styles */
.app-container {
	height: 100%;

	.app-content {
		$padding: 25px;
		position: fixed;
		left: v.$sidebar-width;
		padding: $padding;
		padding-bottom: 0;
		width: calc(100% - v.$sidebar-width - $padding * 2);
		height: calc(100% - $padding);
	}
}

.auth-modal {
	gap: 20px;
	padding: 20px;
	min-width: 400px;

	.auth-modal__form,
	.auth-modal__head {
		gap: 10px;
	}
}

.error404 {
	gap: 15px;
}
