@use "variables" as v;

.notifications {
	$padding: 15px;

	padding: $padding;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
	width: 250px;
	display: flex;
	flex-direction: column;
	gap: $padding;
	overflow: hidden;
	max-height: calc(100% - $padding * 3);

	.notification {
		padding: $padding;
		background: v.$bg2;
		border-radius: 5px;
		box-shadow: v.$box-shadow;

		.notification__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5px;

			.notification__title {
			}

			.notification__close {
				cursor: pointer;

				path {
					transition: color 0.3s ease-in-out;
				}

				&:hover path {
					color: v.$danger;
				}
			}
		}

		.notification__details {
			color: v.$text-sub;
			font-weight: 400;
			font-size: v.$text-sm;
		}
	}
}
