@use "variables" as v;

.project {
	$control-bar-height: 70px;
	$sidebar-width: 475px;

	display: grid;
	grid-template-columns: auto $sidebar-width;

	select,
	option {
		background-color: v.$bg2;
	}

	select:hover,
	select:focus {
		border-color: v.$border-color;
	}

	.project__main-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.project__no-pages {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: fit-content;
		top: calc(50% - $control-bar-height);

		button {
			width: fit-content;
		}
	}

	.project__sidebar {
		background: v.$bg2;
		position: relative;
		top: -25px;
		height: 100%;
		width: calc(100% - 25px - 1px);
		padding: 25px;
		border-left: 1px solid v.$border-color;

		.project__sidebar__section {
			$spacing: 15px;
			margin-bottom: $spacing;
			padding-bottom: $spacing;

			.project__sidebar__section__name {
				font-size: 1.1rem;
				margin-bottom: $spacing;
				color: v.$text-sub;
			}

			.project__sidebar__input {
				display: flex;
				justify-content: space-between;
				align-items: center;

				input {
					width: 60%;
				}
			}
		}
	}

	.project__control-bar {
		position: relative;
		background-color: v.$bg2;
		height: $control-bar-height;
		padding: 0 25px;
		width: calc(100% - 25px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		bottom: -25px;
		left: -25px;

		.project__control-bar__controls {
			display: flex;
			gap: 15px;
		}
	}

	.project__header {
		display: flex;
		justify-content: space-between;
		padding-right: 25px;
	}

	.project__editor {
		padding-top: 15px;
		border-top: 1px solid v.$border-color;
		height: calc(
			100% - $control-bar-height - 25px
		); // 25px: content padding
		line-height: 1.8;
		margin-bottom: -25px;
		margin-right: 25px;

		&.project__editor--preview {
			overflow-y: auto;
		}

		textarea {
			resize: none;
			padding: 0;
			width: 100%;
			height: 100%;
			border: none;
			line-height: 1.8;

			&:focus {
				border: none;
			}
		}
	}
}
