@use "variables" as v;

.sidebar {
	position: fixed;
	left: 0;
	width: calc(v.$sidebar-width - 1px);
	background-color: v.$bg2;
	height: 100%;
	border-right: 1px solid v.$border-color;
	z-index: 999;

	.sidebar__links {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 0 15px;

		.sidebar__link {
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				font-size: 1.6rem;
				padding: 10px;
				transition: color 0.3s ease-in-out;
			}

			&:hover {
				.sidebar__link__tooltip {
					transform: scale(1);
					opacity: 1;
				}
			}

			&.sidebar__link--active {
				&:hover {
					.sidebar__link__tooltip {
						transform: scale(0);
						opacity: 0;
					}
				}

				path {
					color: v.$primary;
				}
			}

			.sidebar__link__tooltip {
				position: absolute;
				left: calc(v.$sidebar-width - 1.3rem);
				background: v.$bg2;
				padding: 10px;
				border-radius: 5px;
				box-shadow: v.$box-shadow;
				transform: scale(0);
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
		}
	}
}
