// Colors
$primary: #325bff;
$danger: #ff4d4d;
$bg: #171717;
$bg2: #262626;

$text-color: #fff;
$text-sub: #8e8e8e;

$border-color: #575757;
$overlay: rgba(0, 0, 0, 0.3);

// Font
$font-family: "Quicksand", sans-serif;
$letter-spacing: 1px;
$font-size: 14px;
$font-weight: 600;

$text-sm: 0.9rem;
$text-xl: 1.3rem;
$text-6xl: 3rem;

// Utils
$box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);

// Sidebar
$sidebar-width: 80px;
